<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <title>Visualisasi Sentimen KAI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <div class="sidebar">
        <div class="profile">
            <!-- <img src=" " alt="Profile"> -->
            <h6 class="mt-2">BA</h6>
        </div>
        <a href="#" class="nav-link">Dashboard</a>
        <a href="/" class="nav-link active">Data Latih</a>
        <a href="#" class="nav-link">Data Uji</a>
        <a href="#" class="nav-link">Klasifikasi</a>
        <a class="nav-link dropdown-toggle" href="#" id="visualisasiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Visualisasi SVM
        </a>
        <ul class="dropdown-menu" aria-labelledby="visualisasiDropdown">
            <li><a class="dropdown-item" href="{{ url_for('visualisasi_kai') }}">KAI ACCESS</a></li>
            <li><a class="dropdown-item" href="#">MyMRTJ</a></li>
            <li><a class="dropdown-item" href="#">Mitra Darat</a></li>
        </ul>
    </div>

    <div class="main-content-visual">
        <h3 class="header-title">Visualisasi Sentimen - KAI ACCESS</h3>
        <canvas id="sentimenChart"></canvas>
    </div>

    <script>
        const data = {{ sentimen | tojson }};
        const labels = Object.keys(data);
        const values = Object.values(data);

        const ctx = document.getElementById('sentimenChart').getContext('2d');
        const sentimenChart = new Chart(ctx, {
            type: 'pie', 
            data: {
                labels: labels,
                datasets: [{
                    label: 'Jumlah Sentimen',
                    data: values,
                    backgroundColor: ['#4caf50', '#f44336', '#ffeb3b'],
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
</body>

</html>